<div class="wrapper">
    <div class="container flex flex-col items-center">
        <div class="flex items-center gap-4 p-4 w-full h-[72px] bg-blue-500">
            <img class="h-6" src="./assets/images/logo.png" alt="logo">
            <h3 class="text-white text-2xl font-bold">Trợ lý quản lý trại giam</h3>
        </div>
        <div class="flex flex-col w-full h-[calc(100%-72px)] gap-4 p-4">
            <div #content class="flex-1 p-2 w-full overflow-y-auto">
                <div class="flex flex-col w-full" *ngIf="messages.length > 0">
                    <div [ngClass]="{'user': message?.role === 'user'}" class="mb-4" *ngFor="let message of messages; index as i" >
                        <div class="flex items-center mb-2" *ngIf="message?.role !== 'user'">
                            <img class="mr-2 w-8 h-8 rounded-full border-[1px] border-solid" src="./assets/images/bot.png" alt="bot">
                            <span>Bot</span>
                        </div>
                        <div 
                            [ngClass]="{'user': message?.role === 'user'}" 
                            class="flex flex-col [&.user]:justify-self-end p-2 w-fit max-w-[70%] min-h-10 rounded-lg bg-gray-100 text-black [&.user]:bg-blue-500 [&.user]:text-white whitespace-pre-line"
                            pTooltip="{{message?.date | dateFormat}}"
                            tooltipPosition="{{message?.role === 'user' ? 'left' : 'right'}}"
                        >
                            <p class="mb-2">
                                {{message?.role === 'user' ? message?.message : message?.final_answer}}
                            </p>
                            
                            <!-- response tab -->
                            <p-tabView *ngIf="isResponse(message)" [scrollable]="true">
                                <p-tabPanel header="Chart">
                                    {{message?.chart || 'Không có chart.'}}
                                </p-tabPanel>
                                <p-tabPanel header="SQL">
                                    {{message?.sql_fix || 'Không có sql.'}}
                                </p-tabPanel>
                                <p-tabPanel header="Data">
                                    <app-chatbot-data [data]="message?.result_execute"></app-chatbot-data>
                                </p-tabPanel>
                            </p-tabView>

                            <button 
                                *ngIf="message?.role !== 'user'"
                                class="speak-btn self-end mt-2 !w-6 !h-6 text-[18px] rounded-full bg-transparent hover:!bg-transparent !text-black" 
                                pButton pRipple 
                                icon="{{isLoadingVoice && voiceIndex === i ? 'pi pi-spinner' : 'pi pi-volume-up'}}"
                                [disabled]="isLoadingVoice"
                                (click)="toggleRead(message.content, i)"
                            ></button>
                        </div>
                    </div>
                    <div class="flex items-center mb-2" *ngIf="isLoading">
                        <img class="mr-2 w-8 h-8 rounded-full border-[1px] border-solid" src="../../../assets/images/bot.png" alt="bot">
                        <span>Bot</span>
                    </div>
                    <div class="flex items-center mb-4 p-2 w-fit max-w-[70%] min-h-10 rounded-lg bg-gray-100 text-black" *ngIf="isLoading">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
            <div class="p-2 w-full">
                <div class="flex items-end gap-2 w-full">
                    <div [ngClass]="{'disabled': isLoading}" class="text-wrapper flex flex-1 p-[8px_20px] rounded-[20px] border-[1px] border-solid">
                        <textarea
                            #textarea
                            pInputTextarea
                            [(ngModel)]="message"
                            class="flex-1 max-h-[120px] border-none outline-none bg-transparent overflow-y-auto [&.overflow]:!overflow-y-scroll resize-none"
                            [ngClass]="{'overflow': textarea.offsetHeight >= 120}"
                            type="text"
                            rows="1"
                            [autoResize]="true"
                            placeholder="Nhập câu hỏi..."
                            [disabled]="isLoading"
                            (keypress)="onKeyPress($event)"
                        ></textarea>
                    </div>
                    <button 
                        class="!w-10 !h-10 text-[20px] rounded-full" 
                        pButton pRipple 
                        icon="{{isRecording ? 'pi pi-stop-circle' : 'pi pi-microphone'}}"
                        (click)="toggleRecording()" 
                        [disabled]="isLoading"
                    ></button>
                    <button 
                        class="!w-10 !h-10 text-[20px] rounded-full" 
                        pButton pRipple 
                        icon="pi pi-send"
                        (click)="handleSubmit()" 
                        [disabled]="!message"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>